.modalText {
	margin: 0 auto;
	max-width: 400px;
	padding: 2rem;

	h3,
	h4 {
		text-align: center;
	}

	h4 {
		margin-top: 0.5rem;
	}

	li {
		margin-top: 1rem;
	}

	.bold {
		font-weight: 600;
	}

	button {
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 375px) {
	.modalText {
		max-width: 300px;
		padding: 1rem;
	}
}
