.modalText {
	margin: 0 auto;
	max-width: 400px;
	padding: 2rem;

	h3,
	h4 {
		text-align: center;
	}

	h4 {
		margin-top: 0.5rem;
	}

	li {
		margin-top: 1rem;
	}

	.bold {
		font-weight: bold;
	}

	button {
		display: block;
		margin: 0 auto;
	}
}
