.numbers {
	input {
		margin-right: 0.5rem;
		text-align: center;
		padding: 0.5rem;
		font-size: 1.5rem;
		background-color: rgb(221, 221, 221);
		border: none;
	}

	.inputs {
		margin-top: 1rem;
	}

	.loading {
		margin-top: 1rem;
		text-align: center;
		font-size: 1rem;
	}

	button {
		display: block;
		margin: 1rem auto;
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 600px) {
	.numbers {
		input {
			font-size: 2rem;
		}

		button {
			margin: 1.5rem auto;
			font-size: 2.3rem;
		}
	}
}
